* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans 18pt';
}



@font-face {
    font-family: 'DM Sans 18pt';
    src: url('./fonts/DMSans18pt-Black.woff2') format('woff2'),
        url('./fonts/DMSans18pt-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 18pt';
    src: url('./fonts/DMSans18pt-Medium.woff2') format('woff2'),
        url('./fonts/DMSans18pt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}